.login_button{
  color: blue;
  padding: 5px;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
}

.hamburger button{
  border: none;
  background-color: transparent;
}



nav{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 50%;
}

.logo img{
  height: 100%;
}

.nav_element{
  margin: 0;
}

.nav_element a{
  color: inherit;
}

.hamburger{
  display: none;
}

#loghi_brand{
  background-color: #f3f5f9;
}

.loghi_brand_cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loghi_brand_box{
  width: calc((100% / 6) - 5px);
  padding: 10px;
}

.loghi_brand_box img{
  width: 100%;
}

@media screen and (max-width: 992px){
  .hamburger{
    display: block;
  }

  .nav_element{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .loghi_brand_cont{
    flex-wrap: wrap;
  }

  .loghi_brand_box{
    width: 50%;
  }
}
